.body{
    background-color:rgb(50,50,50);
    font-family: 'Open Sans', sans-serif;
    color:snow;
}
.nav{
    display: flex;
    flex-direction:column;
    background-color:rgb(43, 32, 32);
}
nav{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}
.logoMain{
    text-align:center;
    margin:7vh;
}
.nav-left{
    display:flex;
    align-items:center;
}
.nav-left *{
    margin: 5px 6px;
    color:rgb(224, 254, 255);
    cursor:pointer;
}
a{
    text-decoration:none;
    color:white;
}
.nav-right{
    display:flex;
}
.nav-right> *{
    margin:5px 6px;
}
.login,.signup{
   display:flex;
   background-color:rgb(13,111,253);
   border-radius: 16px;
   align-items: center;
   padding:0 5px;
   height:30px;
}
.login span,.signup span{
    margin-right:4px;
    text-align:center;
    width:60px;
}
.login img,.signup img{
    height:25px;
}
.link-hospital{
   display:flex;
   flex-wrap:wrap;
   flex-direction:row;
}
.link-hospital a {
    display:block;
    text-decoration: none;
    color:rgb(143, 216, 245) !important;
    height:20px;
    margin:5px 8px;
}
.display-none{
    display:none;
}
.user-container{
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    align-items:flex-end;
    background-color:rgb(0, 0, 0);
    padding-bottom: 2vh;
    border-bottom: 2px solid rgb(236, 167, 167);
}
.user{
    display: flex;
    width:96vw;
    align-self:center;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    align-items:center;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    margin-top:1vh

}
.user-info{
    flex:1 1 250px;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-width:260px;
}
.user-img{
    flex:1 1 120px;
    min-width:120px;
    padding:2vh 0;
    margin: 2vh 0;
    text-align: center;
    background-color:blanchedalmond;
    margin:2px 10px;
    border-radius:6px;
}
.user-img>img{
    width:30vw;
}
.user-edit{
    display: inline-block;
    margin:1vh 2vw;;
    cursor:pointer;
    align-self: flex-end;
    justify-self: flex-end;
}
.user-edit>img{
    height:30px;
}
.text-center{
    text-align:center;
}
.header{
    margin-top: 3vh;
    color: rgb(103, 187, 255);
    text-align:center;
    font-size:25px;
    font-family:Times, 'Times New Roman', serif;
}
.header > * {
    display: inline-block;
}
.report{
    display:flex;
    flex-direction: column;
}
.report-id{
    display:inline-block;
    color:rgb(76, 216, 216);
}
.report-plate{
    display:flex;
    flex-direction:column;
    margin:1vw 1vh;
    background-color:rgb(33, 34, 34);
    border-radius:7px;
    padding:5px 10px;
    border-bottom:solid 1px snow;
    border-top:solid 1px snow;
}
.report-1{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items:center;
    margin:0.5vh 0.5vw;
}
.report-1-1{
    flex:1 1 250px;
    display: flex;
    flex-direction:column;
    margin-left:1vw;
}
.report-1-1-1{
    display: flex;
    flex-wrap:wrap;
    min-width:450px;
}
.report-1-1-1>div{
    flex: 1 1 100px;
    margin:3px 0;
    min-width:225px;
}
.report-1-2{
    background-color:snow;
    padding:5px;
    border-radius:5px;
}
.report-1-2>img{
    width:200px;
}
.report-2{
    display:flex;

}
.report-margin{
    margin: 10px 2vw;
}
.report-2{
    display:flex;
    flex-direction:column;
}
.report-2-1{
    display:flex;
}
.report-2-1>div{
    flex:1 1 85px;
    text-align:center;
    margin:4px 0;
}
.report-list{
    display: flex;
    flex-direction:column;
    margin:1vh 1vw;
}
.report-list>div>textarea{
    width:50vw;
    height: 7vh;
    resize:none;
    padding:10px;
    border-radius:10px;
    background-color:rgb(68, 68, 68);
    color:white;
    border:none;
    outline:none;
}
.report-list>ol>li{
    display:flex;
    justify-content: space-between;
    margin:10px 0;
    color:rgb(135, 255, 79);
}
.cancel{
    color:rgb(252, 94, 94);
    cursor: pointer;
}
.report-note{
    display:flex;
    flex-direction:column;
    margin:15px;
    background:rgba(82, 82, 82, 0.5);
    padding:10px;
    border-radius:12px;
    margin-top:4vh;
}
.report-list-textArea{
    display: flex;
    justify-content: space-between;
}
.report-list-textArea>div{
    display:flex;
    flex-direction:column;
    text-align:center;
    flex:1 1 120px;
}
.report-note>textarea{
    resize:none;
    margin-top:12px;
    height:8vh;
    width:80vw;
    align-self:center;
    border-radius:8px;
    background-color:rgb(37, 37, 32);
    padding:5px;
    color:white;
    border:none;
    outline:none;
}
.margin-top{
    margin-left:2vw;
}
button{
    border-radius:15px;
    background-color:rgb(2, 151, 238);
    margin-top:12px;
    align-self:center;
    color:rgb(245, 237, 237);
    width:75px;
    height: 28px;
    font-size:15px;
}