.body{
    background-color:rgb(50,50,50);
    font-family: 'Open Sans', sans-serif;
    color:snow;
}
.nav{
    display: flex;
    flex-direction:column;
    background-color:rgb(43, 32, 32);
}
nav{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}
.logoMain{
    text-align:center;
    margin:7vh;
}
.nav-left{
    display:flex;
    align-items:center;
}
.nav-left *{
    margin: 5px 6px;
    color:rgb(224, 254, 255);
    cursor:pointer;
}
.nav-right{
    display:flex;
}
.nav-right> *{
    margin:5px 6px;
}
.login,.signup{
   display:flex;
   background-color:rgb(13,111,253);
   border-radius: 16px;
   align-items: center;
   padding:0 5px;
   height:30px;
}
.login span,.signup span{
    margin-right:4px;
    text-align:center;
    width:60px;
}
.login img,.signup img{
    height:25px;
}
.link-hospital{
   display:flex;
   flex-wrap:wrap;
   flex-direction:row;
}
.link-hospital a {
    display:block;
    text-decoration: none;
    color:rgb(143, 216, 245) !important;
    height:20px;
    margin:5px 8px;
}
.display-none{
    display:none;
}
.user-container{
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    align-items:flex-end;
    background-color:rgb(0, 0, 0);
    padding-bottom: 2vh;
    border-bottom: 2px solid rgb(236, 167, 167);
}
.user{
    display: flex;
    width:96vw;
    align-self:center;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    align-items:center;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    margin-top:1vh

}
.user-info{
    flex:1 1 250px;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-width:260px;
}
.user-img{
    flex:1 1 120px;
    min-width:120px;
    padding:2vh 0;
    margin: 2vh 0;
    text-align: center;
    background-color:blanchedalmond;
    margin:2px 10px;
    border-radius:6px;
}
.user-img>img{
    width:30vw;
}
.user-edit{
    display: inline-block;
    margin:1vh 2vw;;
    cursor:pointer;
    align-self: flex-end;
    justify-self: flex-end;
}
.user-edit>img{
    height:30px;
}
.text-center{
    text-align:center;
}
.header{
    margin-top: 3vh;
    color: rgb(103, 187, 255);
    text-align:center;
    font-size:25px;
    font-family:Times, 'Times New Roman', serif;
}
.header > * {
    display: inline-block;
}
.report{
    display:flex;
    flex-direction: column;
}
.report-plate{
    display:flex;
    flex-direction:column;
    margin:1vw 1vh;
    background-color:rgb(55, 59, 63);
    border-radius:7px;
    padding:5px 10px;
}
.report-1{
    display:flex;
    flex-direction:column;
    margin:0.5vh 0.5vw;;
}
.report-1-1{
    display:flex;
    flex-wrap:wrap;
}
.report-1-1>div{
    flex: 1 1 50%;
    min-width:250px;
    margin-bottom:0.5vh;
}
.report-1-1>div>span{
    padding:0 10px;
    border-bottom: 1px solid rgb(245, 244, 244);
}
.report-3,.report-4{
    display:flex;
    flex-direction:column;
    width:100%;
    background-color: rgb(49, 48, 47);
    border-radius: 6px;
    margin-bottom: 8px;
}
.none{
    display: none;
}
.report-3>div>div,.report-4>div>div{
    flex:1 1 120px;
    text-align:center;
    padding:5px 0;
}
.report-id{
    display:inline-block;
    color:rgb(76, 216, 216)
}
.medicine-manage{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.days{
    width:10px;
    height:10px;
    padding:1px;
    background-clip:padding-box;
    margin:2px;
}
.days-selected{
    background-color:cadetblue;
}
.days-unselected{
    background-color:cornsilk;
}
.days-container{
    display:flex;
    margin:8px;
}
.report-3-medicine,.report-4-followup{
    display:flex;
    justify-content: center;
}
.report-3-medicine>div ,.report-4-followup>div{
    flex:1 1 50%;
}

.green{
    color:rgb(78, 235, 78)
}
.report-5{
    width:90vw;
    align-self:center;
    text-align:center;
    border-top: 2px solid black;
    padding:10px;
}
textarea{
    width:80vw;
    height:9vh;
    background-color:rgb(49, 48, 47);
    color:white;
    padding:0.5vh 1vw;
    resize:none;
    border:none;
    border-radius: 6px;
}
button{
    border-radius:15px;
    background-color:rgb(59, 234, 240);
    color:white;
    width:75px;
    height: 28px;
    font-size:15px;
}